<div class="row announcements-form">
	<div class="col">
		<div class="row">
			<div class="col">
				<div class="announcement-title">
					<%= announcement.title %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col content-announcement">
			<%= announcement.content %>
			</div>
		</div>
		<% if announcement.file.attached? %>
		<div class="row attachment-row">
			<div class="col">
				<div class="manage-button">
					<%= link_to 'Mostra file', announcement.file %>
				</div>
				<div class="manage-button">
					<%= link_to 'Download file', announcement.file, download: '' %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
