<div class="container">
	<div class="row">
		<%= announcement.title %>
	</div>
	<div class="row">
		<%= announcement.content %>
	</div>
	<div class="row">
		<%= link_to 'Mostra file', announcement.file %>
		<%= link_to 'Download file', announcement.file, download: '' %>
	</div>
</div>
