<nav class="navbar superior-bar navbar-default">
	<div>
		<%= link_to "Nuova discussione", new_discussion_path %></li>
	<div>
		Le mie discussioni
	</div>
	<div>
		Preferiti
	</div>
</nav>
<nav class="type-discussions">
	<div>
		<ul>
			<li>
				Gruppi di studio
			</li>
			<li>
				Domande generali
			</li>
			<li>
				Avvisi
			</li>
			<li>
				Materiale didattico
			</li>
		</ul>
	</div>
	<div>
		Barra di ricerca
	</div>
</nav>
<div>
	Creazione post
</div>
<div>
	Numeri per far scorrere le pagine
</div>
