<nav class="navbar superior-bar navbar-default">
	<div>
		<ul>
			<li>
				<%= link_to "Nuova discussione", new_discussion_path %>
			</li>
			<li>
				Le mie discussioni
			</li>
			<li>
				Preferiti
			</li>
		</ul>
	</div>
</nav>
<nav class="type-discussions">
	<div>
		<ul>
			<li>
				Gruppi di studio
			</li>
			<li>
				Domande generali
			</li>
			<li>
				Avvisi
			</li>
			<li>
				Materiale didattico
			</li>
		</ul>
	</div>
	<div>
		Barra di ricerca
	</div>
</nav>
<div>
	<% if @discussions %>
		<% @discussions.each do |discussion| %>
			<h2> discussion.title </h2>
		<% end %>
	<% else %>
	<h2> 
		Non ci sono discussioni.
	</h2>
<% end %>
</div>
<div>
	Numeri per far scorrere le pagine
</div>
