<div>
	<% comments.each do |c| %>
	<div class="row comment">
		<div class="col-sm-2 comment-name">
			<%= c[0] %>
			<%= c[1] %>
		</div>
		<div class="col-sm-10">
			<%= c[2] %>
		</div>
	</div>
	<% end %>
</div>