<div>
	<div class="row">
		<div class="col">
			<div class="row">
				<img src="/assets/images/luca.jpg" width="300" height="300"></img>
			</div>
			<div class="row">
				Luca Rainieri
			</div>
			<div class="row">
				luca.rainieri@student.unife.it
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="row">
				<img src="/assets/images/mattia.jpg" width="300" height="300"></img>
			</div>
			<div class="row">
				Mattia Fazzi
			</div>
			<div class="row">
				mattia.fazzi@student.unife.it
			</div>
		</div>
	</div>
</div>