<div>
	<div class="row contacts-block">
		<div class="col">
			<div class="row">
				<div class="col contacts-field">
				<img src="<%= image_url('luca.jpg') %>" width="250" height="250"></img>
				</div>
			</div>
			<div class="row">
				<div class="col contacts-field">
					Luca Rainieri
				</div>
			</div>
			<div class="row contacts-field">
				<div class="col contacts-field">
				luca.rainieri@student.unife.it
				</div>
			</div>
		</div>
	</div>
	<div class="row contacts-block">
		<div class="col">
			<div class="row contacts-field">
				<div class="col contacts-field">	
				<img src="<%= image_url('mattia.jpg') %>" width="300" height="300"></img>
				</div>
			</div>
			<div class="row">
				<div class="col contacts-field">
					Mattia Fazzi
				</div>
			</div>
			<div class="row">
				<div class="col contacts-field">
				mattia.fazzi@student.unife.it
				</div>
			</div>
		</div>
	</div>
</div>