<div class="container emp-profile">
	<h2>Benvenuto in UniUtil</h2>
	<div id="welcome-description">
		UniUtil è il portale universitario per il dipartimento di ingegneria di Ferrara che ti permette di metterti in contatto con i tuoi colleghi universitari e con i tuoi professori nel modo più semplice e veloce.<br>
		Accedi al sito per poter usufruire di tutte le funzionalità.
	</div>
	<div class="line"></div>
	<h2>Studente</h2>
	<div>
		Registrati al sito con la tua email dell'università per poter gestire i tuoi corsi, discutere con i tuoi compagni sul materiale affrontato a lezione o organizzare gruppi di studio per poter studiare in compagnia.
	</div>
	<div class="line"></div>
	<h2>Professore</h2>
	<div>
		UniUtil permette ai professori di poter spiegare un determinato dubbio a più studenti tramite discussioni pubbliche a cui tutti possono partecipare. Inoltre ai professori è permesso avvisare gli studenti riguardo qualsiasi imprevisto o novità tramite la sezione apposita all'interno della scheda del corso.
	</div>
</div>
	        