<% if @subjects.count == 0 %>
	<h4>Non segui attualmente nessun corso.</h4>
<% else %>
	<% @subjects.each do |subject| %>
		<a href="/subjects/<%= subject.id %>">
		  Corso: <%= subject.name %> Professore: 
		</a>
    <br>
	<% end %>
<% end %>