<% if @subjects.count == 0 %>
	<h4>Attualmente non segui nessun corso.</h4>
<% else %>
<div>
  <div id="label-followed-course"> CORSI SEGUITI: </div>
	  <% @subjects.each do |subject| %>
	  <div class="row course-list">
	  	<div class="col">
	    		<a href="/subjects/<%= subject['id'] %>">
	    		 	Corso: <%= subject['name'] %>
	    		</a>
	    	</div>
	    </div>
	  <% end %>
</div>
<% end %>