<% if @subjects.count == 0 %>
	<h4>Non ci sono materie per questo corso di studio.</h4>
<% else %>
  <div id="course-list">
    <ul>
    	<% @subjects.each do |subject| %>
      		<a href="/subjects/<%= subject.id %>">
      		  <li><b><%= subject.name %></b></li>
      		</a>
    	<% end %>
    </ul>
  </div>
<% end %>