// Place all the styles related to the Discussions controller here.
// They ll automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.attachment-row {
  margin-top: 2%;
  margin-bottom: 1%;
  text-align: center;
}

.type-discussions {
	margin-bottom: 1%;
}
.discussions-item :hover{
	border-bottom: 2px solid #7386D5;
}
.superior-bar{
	margin-left: 0%;
	width: 100%;
	border-radius: 8px;
	margin-bottom: 1% !important;
}
#links-superior-bar{
	width: 100%;
	text-align: center;
}
.discussion-box {
	background-color: white;
	border-radius: 8px;
	padding-top: 1%;
	padding-left: 2%;
	padding-bottom: 1%;
  margin-left: 3%;
  width: 94%;
  margin-bottom: 2%;
}
#discussion-show {
	background-color: white;
	border-radius: 8px;
	padding-top: 1%;
	padding-left: 2%;
	padding-bottom: 1%;
  text-align: center; 
}
#show-discussion {
	padding-left: 5%;
	color: black;
}
#discussion-description{
	color: black;
	font-family: 'Poppins';
}

.comment{
	margin: 0;
	margin-top: 3%;
	background-color: white;
	padding-top: 1%;
	padding-bottom:1%;
	border-radius: 8px;
}

#form-discussion {
	margin-top: 1% !important;
  background-color: white;
  margin: auto;
  width: 100%;
  border-radius: 8px;
  padding-top: 1%;
  padding-bottom: 1%; 
}

.digg_pagination {
	padding: 1% 1% 1% 38%;
  background: white;
  cursor: default;

  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.detail-discussion{
  font-size: 120%;
  text-align: center;
  vertical-align: middle;
  line-height: 57px;
}

	.discussions-item {
  display: inline-block;
  text-align: center;
	}
	  .title-discussion {
  font-size: 150%;
  margin: auto;
  width: 100;
  padding-top: 1%;
	}
@media only screen and (min-device-width:640px){
  
  .superior-bar div ul li{
  display: inline-block;
  margin-left: 5%;
  float: left;

  .title-discussion {
  font-size: 150%;
  margin: auto;
  width: 100;
  padding-top: 1%;
	}
  #box-name {
  border-right: 5px solid #7386D5;  
}

#user-name {
  text-align: center;
}
.comment-name {
  border-right: 5px solid #7386D5;
}
}

}
@media only screen and (max-device-width:640px){
  
  .superior-bar div ul li{
    display: block;
    float: left;
    width: 100%;
  }

  .title-discussion {
  font-size: 150%;
  text-align: center;
  padding-top: 1%;
  border-bottom: 5px solid #7386D5;
}
#user-name {
  text-align: center;
  width: 95%;
  margin: auto;
  border-bottom: 5px solid #7386D5;
  font-size: 150%;
}
.comment-name {
  border-bottom: 5px solid #7386D5;
  text-align: center;
  width: 95%;
  font-size: 150%;
  margin: auto;
}
}
