// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-list {
	margin: auto;
	width: 100%;
	font-size: 240%;
	margin-top: 2% !important;
	background-color: white;
	border-radius: 8px;
	padding: 1% 0 1% 0;
	text-align: center;
}
.course-list li {
	margin: 0 0 3px 0;
}

.search-bar {
	margin: auto !important;
	width: 100%;
	margin-bottom: 2% !important;
	background-color: white;
	padding: 1%;
}

.course-button {
	margin-left: 60%;
}

#detail-course{
	background-color: white;
	width: 80%;
	margin: auto;
	border-radius: 8px;
	padding: 1%;
}
.align-center {
	text-align: center;
}

.detail {
	border-right: 5px solid #7386D5;
}

#follow {
	border-radius: 3px;
	background-color: #5a6268;
	color: white;
	margin: auto;
	width: 4%;
	padding: 5px 10px 5px 10px;
	margin-top: 2% !important;
}
#unfollow {
	border-radius: 3px;
	background-color: #5a6268;
	color: white;
	margin: auto;
	width: 10%;
	padding: 5px 10px 5px 10px;
	margin-top: 2% !important;
}

.announcements-form {
	margin-top: 2% !important;
	width: 80%;
	margin: auto;	
	background-color: white;
	border-radius: 8px;
	padding-top: 2%;
	padding-bottom: 2%;
} 

.announcements-publish {
	text-align: center;
	font-size: 240%;
}

#label-followed-course {
	text-align: center;
	border-bottom: 5px solid #7386D5;
}

.announcement-title {
	width: intrinsic;
	width: -moz-max-content;
	width: -webkit-max-content;
	margin: auto;
	font-size: 240%;
}

.content-announcement {
	width: intrinsic;
	width: -moz-max-content;
	width: -webkit-max-content;
	margin: auto;
}